.links {
    z-index: 10;
    position: absolute;
}
#link1 {
    left: 5px;
    top: 80px;
    width: 382px;
    height: 270px;
}
#link2 {
    left: 50px;
    top: 400px;
    width: 810px;
    height: 44px;
}

#link3 {
    left: 50px;
    top: 444px;
    width: 810px;
    height: 44px;
}

#link4 {
    left: 50px;
    top: 488px;
    width: 810px;
    height: 44px;
}

#link5 {
    left: 50px;
    top: 532px;
    width: 810px;
    height: 44px;
}

#link6 {
    left: 50px;
    top: 576px;
    width: 810px;
    height: 44px;
}

#link7 {
    left: 50px;
    top: 620px;
    width: 810px;
    height: 44px;
}

#link8 {
    left: 50px;
    top: 664px;
    width: 810px;
    height: 44px;
}

#link9 {
    left: 50px;
    top: 708px;
    width: 810px;
    height: 44px;
}